/** nanbudo.fi layout **/

* {
  font-family: 'Marcellus', Verdana, serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .pure-menu, html, button, input, select, textarea {
  font-family: 'Marcellus', Verdana, serif;
}

/* https://github.com/yui/pure/releases/tag/v0.3.0 */
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  /* Set you're content font stack here, for example: */
  font-family: 'Marcellus', Verdana, serif;
}

body {
  margin: 0 auto;
  line-height: 1.7em;
  background-color: #FFFFFF; /** screenshots are transparent if note defined **/
  min-width: 350px;
}

form {
  background-color: #FFFFFF; /** screenshots are transparent if note defined **/
}
textarea {
  resize: vertical;
}

.l-box {
  padding: 1em 2em;
}
@media screen and (max-width: 48em) {
  .l-box {
    padding: 1em;
  }
}

figure {
  text-align: center;
}

section figure img {
  width: 100%;
}

.header {
  margin: 0 0;
  min-width: 310px;
}
.header .pure-menu {
  width: auto;
  min-width: 200px;
  overflow: hidden;
  /*display: inline-block;*/ /* setting messes content */
  position: relative; /* needed for absolute menu child */
  margin: 0; /* overwrite top/bottom */
  padding: 0.5em;
}

.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
  border: none;
  background: none;
  color: #adadad;
}

.header .pure-menu-horizontal {
  white-space: normal;
}

menu, ol, ul {
  padding: 0 1em 0 1em;
  list-style-type: none;
}
.pure-menu a {
  color: black;
}

.pure-menu .pure-menu-selected a,
.pure-menu-selected .pure-menu-link:visited {
  color: rgb(66, 184, 221);
}

.logo-button {
  display: block;
  float: right;
  width: 80px;
  height: 80px;
  margin: 2px;
}

.logo-button a, .logo-button img {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.logo-button img {
  width: 80px;
  height: 80px;
}

.splash {
  background: rgba(196, 211, 216, 0.1);
}

.splash-image, .splash-text {
  vertical-align: middle;
}

.splash-image {
  margin: 0 auto;
  line-height: 100%;
}
.splash-image img {
  width: 100%;
}
.splash-text {
  padding: 0.5em 2em;
}
@media screen and (max-width: 48em) {
  .splash-text {
    padding: 0.5em 1em;
  }
}
.splash-head {
  margin: 0;
  font-size: 300%;
  line-height: 1.2em;
}

.splash-description {
  color: #999999;
  font-weight: 300;
  line-height: 1.4em;
}


/* figure element containing img that has Flickr image */
.content-image {
  line-height: 1;
}

.content-subhead {
  color: #999999;
}

.content-ribbon {
  margin: 3em;
  border-bottom: 1px solid #eeeeee;
}

.content-section {
  margin-top: 1em;
}

.ribbon {
  padding: 2em;
  background: #eeeeee;
  color: #999999;
  text-align: center;
}

.ribbon h2 {
  display: inline;
  font-weight: normal;
}

.footer {
  padding: 1em;
  color: #666666;
  text-align: center;
  font-size: 80%;
}

.loginarea {
  position: absolute;
  top: 95px;
  right: 0.5em;
  z-index: 200;
  padding: 0.5em 1em;
  width: 24em;
  height: auto;
  border: 2px solid #040404;
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px rgba(66, 184, 221, 0.5);
}

.loginarea .pure-button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

/* Triangle. Before creates border for after that creates fill. Top-Right-Bottom-Left  */
.loginarea::after, .loginarea::before {
  background-color: rgba(60, 60, 60, 0);
  border-color: rgba(60, 60, 60, 0);
  border-bottom-color: #ffffff;
  border-style: solid;
  width: 0;
  border-width: 0 13px 13px;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: 22px;
  top: -12px;
}
.loginarea::before {
  border-bottom-color: #040404;
  border-width: 0 15px 15px;
  right: 20px;
  top: -14px;
}

.language-menu {
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  border-radius: 2px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-notice {
  background: #FF1493; /* this is a pink */
}

/** http://purecss.io/buttons/ **/
.pure-button-xsmall {
  font-size: 70%;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}

.js-hidden {
  display: none !important;
}
